<?php
/**
 * Copyright © 2018 Redbox Digital.
 *
 * This class was obtained from Magento Customer Widget taxvat
 */
?>

<div class="field linkedinprofile<?php if ($block->isRequired()) echo ' required'; ?>">
    <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('linkedinprofile')?>"><span><?php /* @escapeNotVerified */ echo __('Linkedin Profile URL') ?></span></label>
    <div class="control">
        <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('linkedinprofile')?>" name="<?php /* @escapeNotVerified */ echo $block->getFieldName('linkedinprofile')?>" value="<?php echo $block->escapeHtml($block->getLinkedinprofile()) ?>" title="<?php /* @escapeNotVerified */ echo __('Linkedin Profile URL') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('linkedinprofile') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->isRequired()) echo ' data-validate="{required:true}"' ?>>
    </div>
</div>